# for data science
numpy
pandas
sklearn
scipy
sympy
tqdm
matplotlib
seaborn
plotly

# for experiment management
mlflow
tensorboard
tensorboardX


# for sqa
pudb
pylint
flake8
black
coverage
pytest
pytest-flake8
pytest-cov
pytest-xdist
pytest-html
Sphinx

# other tools
notebook
python-dotenv

# for ds project
torch
torchvision
torchtext
fsspec>=0.8.0	# for pytorch-lightning
pytorch-forecasting
fastparquet
python-snappy
pyro-ppl
