# for data science
numpy
pandas
sklearn
scipy
sympy
tqdm
matplotlib
seaborn
plotly
pandasgui
scikit-optimize
optuna

# for experiment management
mlflow
tensorflow
tensorboard
tensorboardX


# for sqa
pudb
pylint
flake8
black
coverage
pytest
pytest-flake8
pytest-cov
pytest-xdist
pytest-html
Sphinx

# other tools
notebook
python-dotenv

# for ds project
# torch
# torchvision
-f https://download.pytorch.org/whl/torch_stable.html
torch==1.7.0+cu110
torchvision==0.8.1+cu110
torchaudio===0.7.0
torchtext
fsspec>=0.8.0	# for pytorch-lightning
pytorch-forecasting
fastparquet
python-snappy
pyro-ppl
hydra-core
omegaconf
